@using Nop.Web.Areas.Admin.Models.GradeManagement
@model GradeModel

<div class="card-body">
    @(await Html.LocalizedEditorAsync<GradeModel, GradeLocalizedModel>("grade-info-localized",
        @<div>
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-label asp-for="@Model.Locales[item].Name"/>
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="@Model.Locales[item].Name"/>
                    <span asp-validation-for="@Model.Locales[item].Name"></span>
                </div>
            </div>


            <div>
                <input type="hidden" asp-for="@Model.Locales[item].LanguageId" />
            </div>
        </div>
    ,
        @<div>
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-label asp-for="Name"/>
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="Name" asp-required="true"/>
                    <span asp-validation-for="Name"></span>
                </div>
            </div>


        </div>
    ))

    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="IsActive"/>
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="IsActive"/>
            <span asp-validation-for="IsActive"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="BaseFeeAmount"/>
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="BaseFeeAmount"/>
            <span asp-validation-for="BaseFeeAmount"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="SelectedStoreIds" />
        </div>
        <div class="col-md-9">
            <nop-select asp-for="SelectedStoreIds" asp-items="Model.AvailableStores" asp-multiple="true" />
            <script>
                $(function() {
                    var storesIdsInput = $('#@Html.IdFor(model => model.SelectedStoreIds)').select2({
                        closeOnSelect: false,
                        @if (!Model.AvailableStores.Any())
                        {
                        <text>
                        disabled: true,
                        placeholder: 'No stores available',
                        </text>
                        }
                    });
                });
            </script>
        </div>
    </div>
</div>