@using Nop.Web.Areas.Admin.Models.AcademicYears
@model AcademicYearTermSearchModel

@{
    //page title
    ViewBag.PageTitle = T("Admin.Academics.AcademicYearTerms").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("AcademicYearTerms");
}


<div class="content-header clearfix">
    <h1 class="float-left">
        @T("Admin.Academics.AcademicYearTerms")
    </h1>
    <div class="float-right">
        <a asp-action="Create" class="btn btn-primary">
            <i class="fas fa-square-plus"></i>
            @T("Admin.Common.AddNew")
        </a>
@*PublishActiveHelperButtons*@
    </div>
</div>

<section class="content">
    <div class="container-fluid">
    <div class="form-horizontal">
        <div class="cards-group">
            <div class="card card-default">
                <div class="card-body">
                    @await Html.PartialAsync("Table", new DataTablesModel
                    {
                        Name = "academicYearTerms-grid",
                        UrlRead = new DataUrl("AcademicYearTermGridList", "AcademicYearTerm", null),
                        SearchButtonId = "search-categories",
                        Length = Model.PageSize,
                        LengthMenu = Model.AvailablePageSizes,
                        ColumnCollection = new List<ColumnProperty>
                        {
                            new ColumnProperty(nameof(AcademicYearTermModel.Id))
                            {
                                IsMasterCheckBox = true,
                                Render = new RenderCheckBox("checkbox_academicYearTerms"),
                                ClassName =  NopColumnClassDefaults.CenterAll,
                                Width = "50"
                            },
                            new ColumnProperty(nameof(AcademicYearTermModel.AcademicYearGradeSectionMappingId))
                            {
                                Title = T("Admin.Academics.AcademicYearTerms.Fields.AcademicYearGradeSectionMappingId").Text,
                                Width = "100",
                            },

                            new ColumnProperty(nameof(AcademicYearTermModel.ConductanceOrder))
                            {
                                Title = T("Admin.Academics.AcademicYearTerms.Fields.ConductanceOrder").Text,
                                Width = "100",
                            },

                            new ColumnProperty(nameof(AcademicYearTermModel.Name))
                            {
                                Title = T("Admin.Academics.AcademicYearTerms.Fields.Name").Text,
                                Width = "100",
                            },

                            new ColumnProperty(nameof(AcademicYearTermModel.Weitage))
                            {
                                Title = T("Admin.Academics.AcademicYearTerms.Fields.Weitage").Text,
                                Width = "100",
                            },

                            new ColumnProperty(nameof(AcademicYearTermModel.CreatedBy))
                            {
                                Title = T("Admin.Academics.AcademicYearTerms.Fields.CreatedBy").Text,
                                Width = "100",
                            },

                            new ColumnProperty(nameof(AcademicYearTermModel.CreatedOnUtc))
                            {
                                Title = T("Admin.Academics.AcademicYearTerms.Fields.CreatedOnUtc").Text,
                                Width = "100",
                            },

                            new ColumnProperty(nameof(AcademicYearTermModel.UpdatedBy))
                            {
                                Title = T("Admin.Academics.AcademicYearTerms.Fields.UpdatedBy").Text,
                                Width = "100",
                            },

                            new ColumnProperty(nameof(AcademicYearTermModel.UpdatedOnUtc))
                            {
                                Title = T("Admin.Academics.AcademicYearTerms.Fields.UpdatedOnUtc").Text,
                                Width = "100",
                            },

                            new ColumnProperty(nameof(AcademicYearTermModel.Deleted))
                            {
                                Title = T("Admin.Academics.AcademicYearTerms.Fields.Deleted").Text,
                                Width = "100",
                                ClassName =  NopColumnClassDefaults.CenterAll,
                            },


                            new ColumnProperty(nameof(AcademicYearTermModel.Id))
                            {
                                Title = T("Admin.Common.Edit").Text,
                                Width = "50",
                                ClassName =  NopColumnClassDefaults.Button,
                                Render = new RenderButtonEdit(new DataUrl("~/Admin/AcademicYearTerm/Edit"))
                            }
                        }
                    })

                    <script>
                        $(function() {
                            //"{{CamelCaseTrueAction}} selected" button
                            $('#{{TrueActionId}}').click(function (e) {
                                e.preventDefault();

                                var postData = {
                                    selectedIds: selectedIds
                                };
                                addAntiForgeryToken(postData);

                                $.ajax({
                                    cache: false,
                                    type: "POST",
                                    url: "@(Url.Action("{{TrueActionName}}", "AcademicYearTerm"))",
                                    data: postData,
                                    traditional: true,
                                    complete: function (jqXHR, textStatus) {
                                        if (jqXHR.status === 204)
                                        {
                                            showAlert('nothingSelectedAlert', '@T("Admin.Common.Alert.NothingSelected")');
                                            return;
                                        }
                                        updateTable('#academicYearTerms-grid');
                                    },
                                    error: function (jqXHR, textStatus, errorThrown) {
                                        showAlert('{{CamelCaseTrueAction}}SelectedFailed', errorThrown);
                                    }
                                });
                                return false;
                            });

                            //"{{CamelCaseFalseAction}} selected" button
                            $('#{{FalseActionId}}').click(function (e) {
                                e.preventDefault();

                                var postData = {
                                    selectedIds: selectedIds
                                };
                                addAntiForgeryToken(postData);

                                $.ajax({
                                    cache: false,
                                    type: "POST",
                                    url: "@(Url.Action("{{FalseActionName}}", "AcademicYearTerm"))",
                                    data: postData,
                                    traditional: true,
                                    error: function (jqXHR, textStatus, errorThrown) {
                                        showAlert('{{CamelCaseFalseAction}}SelectedFailed', errorThrown);
                                    },
                                    complete: function (jqXHR, textStatus) {
                                        if (jqXHR.status === 204)
                                        {
                                            showAlert('nothingSelectedAlert', '@T("Admin.Common.Alert.NothingSelected")');
                                            return;
                                        }
                                        updateTable('#academicYearTerms-grid');
                                    }
                                });
                                return false;
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
@*PublishActiveHelperAlerts*@