@using Nop.Web.Areas.Admin.Models.AcademicYears
@model AcademicYearModel

@{
    //page title
    ViewBag.PageTitle = T("Admin.AcademicYears.AcademicYears.EditAcademicYearDetails").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("AcademicYears");
}

<form asp-controller="AcademicYear" asp-action="Edit" method="post" id="academicYear-form">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.AcademicYears.AcademicYears.EditAcademicYearDetails") - @Model.Id
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Admin.AcademicYears.AcademicYears.BackToList")</a>
            </small>
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-floppy-disk"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn btn-primary">
                <i class="far fa-floppy-disk"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            <span id="academicYear-delete" class="btn btn-danger">
                <i class="far fa-trash-can"></i>
                @T("Admin.Common.Delete")
            </span>
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="academicYear-delete" />